body{
    margin: 0;
}
body>section:nth-child(1){
    height: 97vh;
    background: url("../images/2109.w026.n002.819B.p1.819.jpg");
    background-size: 135%;
}

body>section:nth-child(1)>div:nth-child(1){
    width: 50vw;
    height: 6vw;
    position: absolute;
    margin: auto;
    top: 5vw;
    left: 0;
    right: 0;
}
body>section:nth-child(1)>div:nth-child(1)>h2{
    color: red;
    width: fit-content;
    height: fit-content;
    font-size: 5.5vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
body>section:nth-child(1)>a:nth-child(2)>div:nth-child(1){
    height: 10vw;
    width: 10vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
    background: url("../images/pngtree-vector-play-icon-png-image_1572584.jpg");
    background-size: cover;
}

body>section:nth-child(1)>a:nth-child(2)>div:nth-child(1):hover{
    height: 11vw;
    width: 11vw;
    border-color: red;
}