body{
    margin: 0;
}
body>section:nth-child(1){
    height: 97vh;
    background: url("../assets/images/2109.w026.n002.819B.p1.819.jpg");
    background-size: 135%;
}
body>section:nth-child(1)>img:nth-child(1){
    height: 15vw;
    width: 7.9vw;
    position: absolute;
    margin: auto;
    top: 26vw;
    left: 3vw;
}